<ul>
  <% @trips.each do |trip| %>
    <li><%= trip.name %>
    <%= link_to "Have more info", trip_path(trip) %></li>
    <%= link_to "Edit trip", edit_trip_path(trip) %></li>
  <% end %>
</ul>
      <%= link_to "Add a new trip",  new_trip_path(@trips) %></li>
